<!DOCTYPE html>
<html>
  <head>
    <title>Dublin Bike WebApp</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="{{ url_for('static', filename='/js/bikeapp.js') }}"></script>
    <link rel="icon" type="image/png" href="/static/favicon.ico">
  </head>
  <body>
    <h1 id="title">Dublin Bikes</h1>
    <div id="weather-bar">
      <div id="weather-data"></div>
    </div>
    <div id="map"></div>
    <div id="filter-bar">
      <div class="filter-group">
        <label for="station-select" id="select-label">Select Station:</label>
        <select id="station-select"></select>
      </div>

      <div class="filter-group">
        <label> Predict Future Availability
          <input type="checkbox" id="datetime-toggle" onclick="choosePrediction()"> 
        </label>
        <div class="datetime-picker" id="dtPicker" style="display:none;">
          <div class="filter-group">
            <input id="date-select" type="date" />
          </div>
          <div class="filter-group">
            <input id="time-select" type="time" />
          </div>
        </div>
      </div>
      
      <div id="only-available-container">
        <label id="only-available-label" for="only-available-checkbox">Show Only Available</label>
        <input type="checkbox" id="only-available-checkbox" onchange="chooseAvailabilityOnly()">
      </div>
      <button id="submit-button" onclick="submitStation()">Submit</button>
    </div>
    <div class="previous-station">
      <div>
        <label for="previous-station-select" id="previous-station-label">Viewed Station History:</label>
        <select id="previous-station-select"></select>
      </div>
      <div>
        <button id="submit-previous-station-button" onclick="submitPreviousStation()">View Again</button>
      </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
    <script>
      //removed the below, above script for google maps also called initMap resulting in unpredictable behaviour
      //window.onload = initMap();
      window.onload = initWeather();

    </script>
  </body>
</html>